.navbar-default  {
     background: white;
     padding-left: 90px;
 }

 .navbar-header {
 	background:#4aaaa5;
 	
 }

 .navbar-brand {
	font-size:36px;
 }

.container-fluid .navbar-brand {
	color:white;
}

h1 {
color:#4aaaa5;
}

.social {
	width:50px;
	height:50px;
	margin-left:15px;
}

.connect {
	float: right;
}

.panel-default {
	width:150px;
	margin-left:90px;
	margin-right:0px;
	padding-right:0px;
} 

#coffee {
	margin-left: -290px;
}

#liri {
	margin-left: -100px;
}


footer {
	background:#666666;
	color:#ffffff;
	padding:30px 0;
	clear:both;
	border-top:8px solid #4aaaa5;
	color:#cccccc;
	font-size:12px;
	text-align: center;
}

.btn-default {
	background:#4aaaa5;
	border:0 none;
	color:#ffffff;
	font-size:18px;
	padding:10px 30px;
	cursor:pointer;
}

.picture {
	width:274px;
	margin-left:90px;
	position:relative;
}


.picture:nth-child(even) {
	margin-right:40px;
}

.picture img {
	width:100%;
	border: 0 none;
	opacity: .8;
}

.picture h3 {
	bottom-border:0;
	background:#4aaaa5;
	color:#ffffff;
	text-align:center;
	position:absolute;
	bottom:20px;
	padding:15px;
	width:100%;
	line-height:30px;
	margin-bottom:0;
	font-weight:300;
}